<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="电网效益评估">
	<meta name="keywords" content="电网效益评估">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">   <!-- 启用360浏览器的极速模式(webkit) -->  
	<title>电网效益评估-首页</title>
	<link rel="stylesheet" href="../styles/css/global.css">
	<link rel="stylesheet" href="../styles/css/index.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_764059_l1nyn86m9p.css">
</head>
<body>
	<div class="app" id="app">
		<!-- 头部 -->
		<div class="header">
			<div class="logo"></div>
			<div class="username">
				<img src="../images/head.jpg" alt="">
			</div>	
			<div class="language">
				<span>中</span><em>|</em><span>EN</span>
			</div>
		</div>
		<!-- 侧边菜单 -->
		<div class="menu">
			<div class="tab" @click="handleSubProject">
				<a href="javascript:;"><i class="iconfont icon-zuixin"></i><span>最新效益评估</span></a>
				<i class="iconfont icon-zhankai1"></i>
			</div>
			<ul>
				<li>
					<a href="javascript:;" @click="handleSubmenu"><i class="iconfont icon-xiangmuliebiao"></i><span>项目列表</span></a>
					<i class="iconfont icon-jiantou" :class="{on:isOn}"></i>
					<ul v-show="show">
						<li v-for="(item,index) in projectList"><a href="javascript:;">{{item.projectName}}</a></li>
					</ul>
				</li>
				<li><a href="javascript:;"><i class="iconfont icon-guangfu"></i><span>光伏效益评估</span></a><i class="iconfont icon-jiantou"></i></li>
				<li><a href="javascript:;"><i class="iconfont icon-chunengxitong"></i><span>储能效益评估</span></a><i class="iconfont icon-jiantou"></i></li>
				<li><a href="javascript:;"><i class="iconfont icon-fenbushinengyuan"></i><span>分布式能源站效益评估</span></a><i class="iconfont icon-jiantou"></i></li>
				<li><a href="javascript:;"><i class="iconfont icon-xiaoyifenxi"></i><span>效益评估</span></a><i class="iconfont icon-jiantou"></i></li>
				<li><a href="javascript:;"><i class="iconfont icon-wodexiangmu"></i><span>我的项目</span></a><i class="iconfont icon-jiantou"></i></li>
			</ul>	
		</div>
		<div class="project-list" :class="{active:isActive}">
			<label><input type="text" placeholder="搜索项目" @keyup="handleSeach" v-model="keyword"></label>
			<ul>
				<li v-for="(item,index) in searchResultArr"><a href="javascript:;">{{item.projectName}}</a></li>
			</ul>
		</div>
		<!-- 主体内容 -->
		<div class="container">
			<div class="container-header">
				<ul>
					<li>光伏效益评估</li>
					<li>储能效益评估</li>
					<li>储能效益评估</li>
				</ul>
				<div><i></i><span>历史效益</span></div>
			</div>
			<div class="container-content">
				<div class="head">
					<button>效益评估</button>
					<button>保存</button>
					<button>子系统对比</button>
				</div>
				<div class="model-variable">
					<div class="title"><span>模型变量</span><i></i></div>
					<dl>
						<dd>
							<span>项目建设期（年）：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>短期贷款利率：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>城乡维护建设税率：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>长期贷款利率：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>还款期：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>教育附加费率：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>基准收益率：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>售电增值税：</span><label><input type="text"></label>
						</dd>
						<dd>
							<span>残值回收率：</span><label><input type="text"></label>
						</dd>
					</dl>
				</div>
				<div class="project-variable">
					<div class="title"><span>项目变量</span><i></i></div>
				</div>
			</div>
		</div>
	</div>
	<script src="../plugins/vue/vue.min.js"></script>
	<script src="../plugins/jquery/jquery-3.3.1.min.js"></script>
	<script>
		var appLogin = new Vue({
	        el: '#app',
	        data: {
	        	show:false,
	        	isActive:false,
	        	isOn:false,
	        	projectList:[
	        		{projectName:'项目一'},
	        		{projectName:'项目二'},
	        		{projectName:'项目三'}
	        	],
	        	searchResultArr:[],
	        	keyword:'',
	        },
	        mounted: function () {
	        },
	        methods: {
	        	handleSubmenu:function(){
	        		this.show=!this.show;
	        		this.isOn=!this.isOn;
	        	},
	        	handleSubProject:function(){
	        		this.isActive=!this.isActive;
	        	},
	        	handleSeach:function(){
	        		if(!this.keyword){
        				this.searchResultArr=[];	
        			}else{
        				this.searchResultArr=[];
	        			for(i in this.projectList){
	        				if(this.projectList[i].projectName.indexOf(this.keyword)>=0){
	        					this.searchResultArr.push(this.projectList[i]);
	        				}
	        			}
        			}
	        	},
	        }
	    });
	</script>
</body>
</html>