<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="电网效益评估">
	<meta name="keywords" content="电网效益评估">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">   <!-- 启用360浏览器的极速模式(webkit) -->  
	<title>电网效益评估-登录</title>
	<link rel="stylesheet" href="../styles/css/global.css">
	<link rel="stylesheet" href="../styles/css/login.css">
</head>
<body>
	<div class="login" id="loginContainer">
		<h2>登录</h2>
		<p v-if="show">{{errorMessages}}</p>
		<label><input @keyup="handleKeyup" type="text" placeholder="账号" v-model="username"></label>
		<label><input @keyup="handleKeyup" type="password" placeholder="密码" v-model="password"></label>
		<div class="remember">
			<div class="left">
				<input type="checkbox" v-model="checked"><span>一周免登录</span>
			</div>
			<a href="javascript:;" @click="switchEnglish">Switch to English</a>
		</div>
		<button @click="login">登录</button >
		<span v-on:click="ToRegister">没有账号？马上注册</span>
	</div>
	<script src="../plugins/vue/vue.min.js"></script>
	<script>
		var appLogin = new Vue({
	        el: '#loginContainer',
	        data: {
	        	show:false,
	        	checked:true,
	            username:'',
	            password:'',
	            errorMessages:'',
	        },
	        mounted: function () {
	        	//页面加载调用获取cookie值
	        	this.getCookie();
	        },
	        methods: {
	        	//登录login
	        	login:function(){
	        		var _this=this;
	        		//判断账户不能为空
	        		if (!this.username) {
	                    this.errorMessages='账户不能为空';
	                    this.show=true;
	                    return;
	                }
	                //判断密码不能为空
	                if (!this.password) {
	                    this.errorMessages='密码不能为空';
	                    this.show=true;
	                    return;
	                }
                    //判断复选框是否被勾选 勾选则调用配置cookie方法
                    if (_this.checked == true) {
                        console.log("checked == true");
                        //传入账号名，密码，和保存天数3个参数
                        _this.setCookie(_this.username, _this.password, 7);
                    }else {
                      console.log("清空Cookie");
                      //清空Cookie
                      _this.clearCookie();
                    }
                    //与后端请求代码，本功能不需要与后台交互所以省略
                    this.show=false;
                    window.location.href="#"
                    console.log("登陆成功");
	        	},
	        	//跳转注册页面
	        	ToRegister:function(){
	        		console.log("跳转注册页面");
	        		window.location.href="register.html"
	        	},
	        	//切换英文
	        	switchEnglish:function(){

	        	},
	        	//设置cookie
	            setCookie(c_name, c_pwd, exdays) {
	                var exdate = new Date(); //获取时间
	                exdate.setTime(exdate.getTime() + 24 * 60 * 60 * 1000 * exdays); //保存的天数
	                //字符串拼接cookie
	                window.document.cookie = "userName" + "=" + c_name + ";path=/;expires=" + exdate.toGMTString();
	                window.document.cookie = "userPwd" + "=" + c_pwd + ";path=/;expires=" + exdate.toGMTString();
	            },
	            //读取cookie
	            getCookie: function() {
	                if (document.cookie.length > 0) {
	                    var arr = document.cookie.split('; '); //这里显示的格式需要切割一下自己可输出看下
	                    for (var i = 0; i < arr.length; i++) {
	                        var arr2 = arr[i].split('='); //再次切割
	                        //判断查找相对应的值
	                        if (arr2[0] == 'userName') {
	                            this.username = arr2[1]; //保存到保存数据的地方
	                        } else if (arr2[0] == 'userPwd') {
	                            this.password = arr2[1];
	                        }
	                    }
	                }
	            },
	            //清除cookie
	            clearCookie: function() {
	                this.setCookie("", "", -1); //修改2值都为空，天数为负1天就好了
	            },
	            //清除错误信息
	            handleKeyup:function(){
	            	this.show=false;
	            }
	        }
	    });
	</script>
</body>
</html>