@import 'variable';
@import 'mixins';
@import 'base';
$headerWidth:50px;
body{
	background-color:#f2f5f7;
}
.header{
	position: fixed;
    top: 0;
    left: 0;
    padding:0 15px;
    width:100%;
    height:$headerWidth;
    background-color: #36a9e1;
	.language{
		margin-right:30px;
		margin-top:13px;
		float:right;
		color:#fff;
		line-height:24px;
		em{
			margin:0 10px;
		}
		span{
			font-size:14px;
			color:#fff;
			cursor:pointer;
		}
	}
	.username{
		float:right;
		margin-top:13px;
		height: 24px;
	    width: 24px;
	    border-radius:50%;
	    overflow:hidden;
	    cursor:pointer;
		img{
			height:100%;
		    width:100%;
		}
	}
}
.menu{
	position: fixed;
    left: 0;
    top:$headerWidth;
    bottom: 0;
    z-index: 999;
    width: 250px;
    overflow-x: hidden;
    background-color:#383e4b;
    color: #fff;
    .tab{
    	position:relative;
    	cursor:pointer;
    	.select-project{
    		position:relative;
    		z-index:2;
    		background-color:#2d323d;
		    height: 50px;
    		.l{
    			float:left;
    			width:180px;
    			h2{
					float: left;
					padding:0 0 0 20px;
					font-size: 14px;
					color: #ffffff;
					line-height: 50px;
					width:150px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					>i{
						margin-right:10px;
						font-weight:normal;
						font-size: 14px
					}
	    		}
	    		>i{
	    			float: right;
				    font-size: 12px;
				    color: #fff;
				    padding-right: 10px;
				    margin-top: 20px;
	    		}
    		}
    		.r{
    			float:right;
			    width:50px;
			    height:100%;
    			border-left: 1px solid #ddd;
    			i{
				    font-size: 24px;
					color: #fff;
					text-align: center;
					display: block;
					margin-top: 13px;
    			}
    		}		
    	}
    	.select-project-list{
			position:absolute;
			top:-259px;
			left:0;
			z-index:1;
			width:250px;
			max-height:259px;
			background-color:#fff;
			overflow-x:hidden;
			transition:top .5s;
			ul{
				li{
					position:relative;
					a{
						font-size:12px;
		    		    display: block;
					    padding: 10px 20px;
					    color:#333;
					    border-top: 1px solid #e3e8eb;
					}
					i{
						position:absolute;
			    	    top: 10px;
						right: 5px;
				    	color:#ccc;
					}
					&:hover{
						a{
							color:#fff;
							background-color:#4acfd1;
							border-top: 1px solid #4acfd1;
						}
						i{
							color:#fff;
						}
				    }
				}
			}
    	}
    	.select-project-list.on{
    		top:50px;
    		transition:top .5s;
    	}
    	.sum-project{
		    padding: 0 10px;
    		ul li{
    			position:relative;
    			a{
    				font-size:14px;
				    display: block;
			        /*margin-top:10px;*/
				    padding: 10px 20px;
			        color: #fff;
			        border-bottom:1px solid #333;
			    	/*background-color: #f0f3f5;*/
    			}
    			i{
    				position:absolute;
			    	top:10px;
			    	right:10px;
			    	color:#fff;
    			}
    			&:hover{
					a{
						background-color:#37a2da;
						color:#fff;
					}
					i{
						color:#fff;
					}
			    }
    		}	
    	}
    }
    >ul{
    	>li{
    		position:relative;
    		>a{
    			font-size:14px;
    		    display: block;
			    padding: 14px 20px;
			    position: relative;
			    font-weight: 400;
			    color: #fff;
			    /*background-color:#2d323d;*/
			    border-bottom: 1px solid #333;
			    i{
			    	margin-right:5px;
			    	width: 18px;
				    height: 18px;
				    display: inline-block;
			        font-size:14px;
			        color:#fff;
			    }
			    &:hover{
			    	background: #37a2da;
			    }
    		}
    		>i{
		    	position:absolute;
		    	top:15px;
		    	right:20px;
		    	color:#fff;
		    }
    	}
    }
}
.project-list{
	position:fixed;
    top:$headerWidth;
    left:0;
    bottom:0;
    z-index:901;
    width:250px;
    background: #e0e4e7;
    transition:left .5s;
    label{
    	position:relative;
    	display: block;
    	margin:14px 20px;
    	padding:0 10px;
    	width:210px;
    	height:40px;
    	background-color:#fff;
    	border-radius:30px;
    	border-bottom: 1px solid #fafafa;
    	input{
    		background:none;
    		border:none;
    		outline:none;
    		width:100%;
    		height:100%;
    		font-size:14px;
    	}
    	i{
			position:absolute;
			top: 12px;
			right: 10px;
			color:#ccc;
    	}
    }
    ul{
		li>a{
			display: block;
		    padding:10px 20px;
		    position: relative;
		    font-weight: 400;
		    color: #fff;
	        border-bottom: 1px solid #fafafa;
		    &:hover{    	
		    	background: #e9eff4;
		    }
		}
	}
}
.project-list.active{
	left:250px;
}
.container,.menu{
	&::-webkit-scrollbar-track{
        background-color: #F5F5F5;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
    }
    /*定义滚动条高宽及背景*/
    &::-webkit-scrollbar{
        width:1px;
        background-color: rgba(0, 0, 0, 0.34);
    }
    /*定义滚动条*/
    &::-webkit-scrollbar-thumb{
        background-color: #8b8b8b;
        border-radius: 10px;
    }
    /*针对IE*/
    scrollbar-arrow-color: #666; /*三角箭头的颜色*/
	scrollbar-face-color: #333; /*立体滚动条的颜色*/
	scrollbar-3dlight-color: #666; /*立体滚动条亮边的颜色*/
	scrollbar-highlight-color: #666; /*滚动条空白部分的颜色*/
	scrollbar-shadow-color: #999; /*立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color: #666; /*立体滚动条强阴影的颜色*/
	scrollbar-track-color: #666; /*立体滚动条背景颜色*/
	scrollbar-base-color:#f8f8f8; /*滚动条的基本颜色*/
	Cursor:url(mouse.cur); /*自定义个性鼠标*/

}