$headerWidth:50px;
body{
	background-color:#f2f5f7;
}
.header{
	position: fixed;
    top: 0;
    left: 0;
    padding:0 15px;
    width:100%;
    height:$headerWidth;
    background-color: #313e3e;
	.language{
		margin-right:30px;
		margin-top:13px;
		float:right;
		color:#fff;
		line-height:24px;
		em{
			margin:0 10px;
		}
		span{
			font-size:14px;
			color:#fff;
			cursor:pointer;
		}
	}
	.username{
		float:right;
		margin-top:13px;
		height: 24px;
	    width: 24px;
	    border-radius:50%;
	    overflow:hidden;
	    cursor:pointer;
		img{
			height:100%;
		    width:100%;
		}
	}
}
.menu{
	position: fixed;
    left: 0;
    top:$headerWidth;
    bottom: 0;
    z-index: 999;
    width: 250px;
    overflow-x: hidden;
    background-color:#e6eaed;
    color: #fff;
    border-right: 1px solid #dadfe3;
    .tab{
    	position:relative;
    	cursor:pointer;
    	>a{
		    display: block;
		    padding: 14px 20px;
		    position: relative;
		    font-weight: 400;
	        background: #95a5a6;
    		color: #ffffff;
		    border-bottom: 1px solid #e3e8eb;
		    i{
		    	margin-right:5px;
		    	width: 18px;
			    height: 18px;
			    display: inline-block;
		        font-size:14px;
		    }
		}
		>i{
	    	position:absolute;
	    	top:15px;
	    	right:20px;
	    	color:#fff;
	    }
    }
    >ul{
    	>li{
    		position:relative;
    		>a{
    		    display: block;
			    padding: 14px 20px;
			    position: relative;
			    font-weight: 400;
			    color: #5f7676;
			    background: #f0f3f5;
			    border-top: 1px solid #e3e8eb;
			    i{
			    	margin-right:5px;
			    	width: 18px;
				    height: 18px;
				    display: inline-block;
			        font-size:14px;
			    }
			    &:hover{
			    	background: #f5f7f8;
			    }
    		}
    		>i{
		    	position:absolute;
		    	top:15px;
		    	right:20px;
		    	color:#000;
		    	transform: rotate(0deg);
	    	    transition:transform .5s;
		    }
		    >i.on{
	    	    transform: rotate(90deg);
	    	    transition:transform .5s;
		    }
    		ul{
    			li>a{
    				display: block;
				    padding: 14px 20px;
				    position: relative;
				    font-weight: 400;
				    color: #5f7676;
				    background: #e0e4e7;
				    border-top: 1px solid #e3e8eb;
				    &:hover{
				    	background: #e9eff4;
				    }
    			}
    		}
    	}
    }
}
.project-list{
	position:fixed;
    top:$headerWidth;
    left:0;
    bottom:0;
    z-index:901;
    width:250px;
    background: #e0e4e7;
    transition:left .5s;
    label{
    	display: block;
    	margin:14px 20px;
    	padding:0 10px;
    	width:210px;
    	height:40px;
    	background-color:#fff;
    	border-radius:30px;
    	input{
    		background:none;
    		border:none;
    		outline:none;
    		width:100%;
    		height:100%;
    		font-size:14px;
    	}
    }
    ul{
		li>a{
			display: block;
		    padding: 14px 20px;
		    position: relative;
		    font-weight: 400;
		    color: #5f7676;
		    border-top: 1px solid #e3e8eb;
		    &:hover{
		    	
		    	background: #e9eff4;
		    }
		}
	}
}
.project-list.active{
	left:250px;
}
.container{
	position:absolute;
    left: 250px;
    right: 0;
    top:$headerWidth;
    bottom: 0;
    z-index:900;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.container-header{
	position:absolute;
	top:0;
	left:0;
	right:0;
	background-color:#95a5a6;
	width:100%;
	height:47px;
	border-bottom:1px solid #95a5a6;
	padding:0 20px;
	h2{
		float:left;
		font-size:16px;
		line-height:48px;
		color:#fff;
		font-weight:normal;
	}
	.history{
		float:right;
		cursor:pointer;
		font-size:0;
		i{
			display:inline;
			margin-right:5px;
			color:#fff;
			font-size:16px;
		}
		span{
			display:inline-block;
			font-size:14px;
			line-height:47px;
			color:#fff;
			font-weight:normal;
		}
	}
}
.container-content{
	padding:48px 10px 0 10px;
	.title{
		width:100%;
		height:40px;
		line-height:40px;
		border-bottom:1px solid #e6eaed;
	}
	.table{
		margin-top:10px;
		width:100%;
		thead{
			background:#ccc;
			th{
				width:25%;
				font-size:16px;
				color:#fff;
			}
		}
		tbody{
			tr{
				&:nth-child(2n){
					background-color:#f4f4f4;
				}
				&:nth-child(2n+1){
					background-color:#e2ecec;
				}
			}
			td{
				width:25%;
				font-size:14px;
				text-align:center;
				&:nth-child(4){
					text-align:left;
				}
			}
		}
		tr{
			line-height:40px;
		}
	}
}